@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply font-[Outfit] font-normal scroll-smooth;
}

body {
	@apply bg-[#161616] text-white;
}

.days {
	display: grid;
	grid-gap: 4px;
	/* margin: 10px 0;
  padding: 15px;
  border: 1px solid white;
  border-radius: 13px; */
	grid-template-columns: repeat(auto-fill, 16px);
	box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
		0 5px 15px rgba(0, 0, 0, 0.06);
}

.day {
	height: 16px;
	background-color: #fef2d4;
}

.day--active {
	background-color: #00ff00;
}

.day--inactive {
	background-color: #ff0000;
}

.day--no-data {
	background-color: #808080;
}
