@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.days {
  display: grid;
  grid-gap: 2px;
  /* margin: 10px 0;
  padding: 15px;
  border: 1px solid white;
  border-radius: 13px; */
  grid-template-columns: repeat(auto-fill, 10px);
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
    0 5px 15px rgba(0, 0, 0, 0.06);
}

.day {
  height: 10px;
  background-color: #fef2d4;
}

.day--active {
  background-color: #ffc107;
}
